<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/register">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="regEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="regEmail" placeholder="Email" name="email" required value={{email}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="regName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="regName" placeholder="Full Name" name="fullName" required value={{fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="regPassword">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="regPassword" placeholder="Password" name="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="regRePassword">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="regRePassword" placeholder="Confirm Password" name="repeatedPassword" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-default" href="/">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>